<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome Mary Belova</title>
    <style type="text/css">
        h1 {
            font-size: 120%;
            font-family: Verdana, Arial, Helvetica, sans-serif;
            color: #ab22c1;
        }
        h2 {
            font-size: 400%;
            font-family: Verdana, Arial, Helvetica;
            color: #e7c500;
        }
    </style>
</head>
<body>
<h1>Welcome to Spring Security</h1>
<h2>I love you</h2>

<h4>Sanya kuku</h4>
</body>
</html>